.policy-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 7px 0px;
}
.policy-cont h3 {
  /* border: 1px solid; */
  max-width: 90%;
  min-width: 90%;
}
.policy-cont p,
ul {
  /* border: 1px solid; */
  max-width: 90%;
  min-width: 90%;
}
