.image-slider {
  /* border: 1px solid; */
  max-height: 41vh;
  display: flex;
  justify-content: center;
  /* min-width: ; */
}

.image-slider img {
  /* border: 1px solid; */
  max-height: 40vh;
  min-height: 40vh;
  max-width: 94%;
  min-width: 94%;
  border-radius: 10px;
}
@media (max-width: 786px) {
  .image-slider img {
    max-height: 25vh;
    min-height: 25vh;
  }
}
