.myOrder-sec {
  /* border: 1px solid; */
  margin: 10px 0px;
  min-width: 100%;
  min-height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* justify-items: center; */
  /* align-items: center; */
}
.myorder-card {
  /* border: 1px solid; */
  min-width: 100%;
  max-width: 100%;
  min-height: 13vh;
  padding: 0px;
}
.cart-cont {
  /* border: 1px solid; */
  min-height: 12vh;
  max-height: 23vh;
  display: flex;
  flex-direction: column;
  gap: 7px;
  overflow: scroll;
  padding: 5px 0px;
}
.cart-cont::-webkit-scrollbar {
  display: none;
}

.card-top {
  /* border: 1px solid; */
  min-width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-order-btn {
  min-width: 25%;
  min-height: 5vh;
  font-size: 19px;
  font-family: var(--font1);
}
.cant-cancel {
  border: 1px solid;
  min-width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.main-order-card {
  /* border: 1px solid; */
  min-width: 100%;
  min-height: 35vh;
  max-height: 35vh;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  background-color: rgba(0, 0, 0, 0.096);
  padding: 7px;
  border-radius: 10px;
}
.order-details {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  padding: 0px 7px;
}
.loader-order {
  /* border: 1px solid; */
  min-width: 100%;
  align-self: center;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 786px) {
  .myOrder-sec {
    grid-template-columns: 1fr;
    /* border: 1px solid; */
  }
}
