.nav-cont {
  /* border: 1px solid salmon; */
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--bgcolor);
}

.nav-top {
  min-width: 100%;
  /* border: 1px solid salmon;  */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .div-1{
} */

.div-1 h2 {
  /* border: 1px solid; */
  font-size: 28px;
  font-family: var(--font2);
  font-weight: 600;
  color: var(--blue);
  transition: 0.3s ease-in-out;
}
.div-1 h2:hover {
  color: var(--red);
  transition: 0.3s ease-in-out;
}

.div-2 {
  /* border: 1px solid; */
  min-height: 6.6vh;
  max-height: 6.6vh;
  width: 40%;
  display: flex;
}

.div-2 input {
  /* border: 1px solid; */
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 0px 10px;
}
input::placeholder {
  font-family: var(--font1);
  font-size: 18px;
}
input:active {
  font-family: var(--font1);
  font-size: 18px;
}

.div-3 {
  /* border: 1px solid; */
  min-height: 6.5vh;
  max-height: 6.5vh;
  min-width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.link-d {
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
  font-size: 18px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.link-d:hover {
  border-bottom: 3px solid var(--red);
}

.div-4 {
  /* border: 1px solid; */
  min-height: 6.5vh;
  max-height: 6.5vh;
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link-cart {
  /* border: 1px solid; */
  display: flex;
  font-size: 27px;
  color: var(--blue);
}
.link-cart:hover {
  transform: scale(1.1);
}

.mobile-menu-icon {
  display: none;
}
.input-for-mobile {
  display: none;
}

@media (max-width: 960px) {
  .nav-cont-mobile {
    /* border: 1px solid; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .input-for-mobile {
    /* border: 1px solid; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
    min-width: 95vw;
    gap: 15px;
  }
  .input-for-mobile input {
    /* border: 1px solid; */
    padding: 10px;
    border-radius: 7px;
    min-width: 95%;
  }
  .nav-cont {
    min-height: 15vh;
    min-width: 90vw;
    padding: 0px 13px;
  }
  .div-1 {
    /* border: 1px solid; */
  }
  .div-1 h2 {
    font-size: 20px;
  }
  .div-2 {
    min-width: 40%;
    max-width: 40%;
    min-height: 5vh;
  }
  input::placeholder {
    font-size: 14px;
    text-align: center;
  }
  .div-2 {
    display: none;
  }
  .div-3 {
    display: none;
  }
  .div-4 {
    gap: 10px;
  }
  .mobile-menu-icon {
    /* border: 1px solid; */
    font-size: 29px;
    display: flex;
    cursor: pointer;
  }
}

.menu-mobile {
  position: absolute;
  top: 15vh;
  left: 0px;
  min-height: 85vh;
  max-height: 85vh;
  min-width: 100vw;
  background-color: var(--lightpurple);
  transition: 0.3s ease-in-out;
  transform: translateX(-400px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-link-cont {
  /* border: 1px solid; */
  min-height: 7vh;
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  padding: 5px;
}

.link-form {
  text-decoration: none;
  color: var(--blue);
  font-family: var(--font1);
  font-size: 18px;
}
.link-form:hover {
  color: black;
}
.menu-mobile {
  display: none;
}
.menu-mobile-show {
  display: none;
}

@media (max-width: 960px) {
  form {
    /* border: 1px solid; */
    z-index: 1;
    min-width: 100vw !important;
    min-height: 100vh !important;
    border-radius: 0px !important;
  }
  .menu-mobile-show {
    /* border: 1px solid; */
    position: fixed;
    top: 15vh;
    left: 0px;
    min-height: 85vh;
    max-height: 85vh;
    min-width: 50vw;
    background-color: var(--lightpurple);
    transition: 0.3s ease-in-out;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-mobile {
    position: absolute;
    top: 15vh;
    /* left: -400px; */
    min-height: 85vh;
    max-height: 85vh;
    min-width: 100vw;
    background-color: var(--lightpurple);
    transition: 0.3s ease-in-out;
    transform: translateX(-1400px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
